body {
    background-color: #99d2ff;
}

/* My Viewport size: 
1536px × 754px
Therefore, 100vh = 754px
1vh = 7.54px
or 1px = 0.13262599vh

And, 100vw = 1536px
1vw = 15.36px
or 1px = 0.06510vw

*/

.q-box {
    padding: 0% 7%;
    text-align: center;
    width: 60%;
    min-width: 400px;
    height: 60%;
    border-radius: 28px;
    margin: auto;
    margin-top: 20vh;
    background-color: #3f4964;
}

.box-row {
    width: 60vw;
    height: 60vh;
}

.box-col-1 {
    height: 60vh;
}

.current-q-no {
    width: 60vw;
    text-align: start;
    padding-top: 5%;
    /* padding-left: 10%; */
    color: #fcfeff;
}

.current-q {
    /* font-size: 20px; */
    /* font-size: normal; */
    /* padding: 2.5% 10%; */
    font-size: 180%;
    padding: 2% 0;
    line-height: normal;
    text-align: start;
    color: #f5f9fa;
}

.ans-btn-div {
    /* margin-top: 5%; */
    text-align: center;
    min-height: 20vh;

}

.ans-btn {
    margin: 1% 3% 3% 3%;    
    text-align:left;
}


.btn {
    /* display: flex; */
    /* margin: auto; */
    /* margin-top: 50vh; */
    background: #3f4964;
    background-image: -webkit-linear-gradient(top, #3f4964, #3f4964);
    background-image: -moz-linear-gradient(top, #3f4964, #3f4964);
    background-image: -ms-linear-gradient(top, #3f4964, #3f4964);
    background-image: -o-linear-gradient(top, #3f4964, #3f4964);
    background-image: linear-gradient(to bottom, #3f4964, #3f4964);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 110%;
    /* margin-top: 2vh; */
    padding: 2%;
    border: solid #465c7a 7px;
    text-decoration: none;
  }
  
  .btn:hover {
    cursor: pointer;
    background: #4e7999;
    background-image: -webkit-linear-gradient(top, #4e7999, #4e7999);
    background-image: -moz-linear-gradient(top, #4e7999, #4e7999);
    background-image: -ms-linear-gradient(top, #4e7999, #4e7999);
    background-image: -o-linear-gradient(top, #4e7999, #4e7999);
    background-image: linear-gradient(to bottom, #4e7999, #4e7999);
    text-decoration: none;
  }

  @media screen and (max-width: 450px) {

    .current-q-no {

        /* font-size: 7vw; */
        width: 60vw;
        text-align: start;
        padding-top: 5%;
        /* padding-top: 10%; */
        /* padding-left: 10%; */
        color: #fcfeff;
    }

    .current-q {
        font-size: 170%;
        /* font-size: normal; */
        padding: 2% 0;
        line-height: normal;
        text-align: start;
        color: #f5f9fa;
    }
    
    .ans-btn-div {
        /* padding-top: 10%; */
        /* margin-top: 10%; */
        text-align: center;
        min-height: 20vh;
    }

    .btn {
        /* display: flex; */
        /* margin: auto; */
        /* margin-top: 50vh; */
        background: #3f4964;
        background-image: -webkit-linear-gradient(top, #3f4964, #3f4964);
        background-image: -moz-linear-gradient(top, #3f4964, #3f4964);
        background-image: -ms-linear-gradient(top, #3f4964, #3f4964);
        background-image: -o-linear-gradient(top, #3f4964, #3f4964);
        background-image: linear-gradient(to bottom, #3f4964, #3f4964);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 100%;
        margin-top: 1vh;
        padding: 10px 2vw 10px 2vw;
        border: solid #465c7a 7px;
        text-decoration: none;
      }
      
      .btn:hover {
        cursor: pointer;
        background: #4e7999;
        background-image: -webkit-linear-gradient(top, #4e7999, #4e7999);
        background-image: -moz-linear-gradient(top, #4e7999, #4e7999);
        background-image: -ms-linear-gradient(top, #4e7999, #4e7999);
        background-image: -o-linear-gradient(top, #4e7999, #4e7999);
        background-image: linear-gradient(to bottom, #4e7999, #4e7999);
        text-decoration: none;
      }
  }

  .score-hidden{
    visibility: hidden;
  }
  .score-visible{
    position: relative;
    bottom: 8%;  
    visibility: visible;
  }
